/* Basic Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaeaea; 
}


.navbar {
    display: flex;                     
    justify-content: space-between;    
    align-items: center;               
    background-color: #333;           
    padding: 20px;                     
    position: sticky;                   
    top: 0;                             
    z-index: 1000; 
}

.navbar-name {
    color: white;                       
    font-size: 1.5em;                 
    font-family: monospace;
    font-size: xx-large;
}

.navbar-links {
    list-style-type: none;              
    padding: 0;                         
    margin: 0;                          
    display: flex;                      
    font-family: monospace;
    font-size:x-large;
}

.navbar-links li {
    margin-left: 20px;                  
}

.navbar-links a {
    color: white;                      
    text-decoration: none;              
    padding: 10px 15px;                
    transition: background-color 0.3s; 
}

.navbar-links a:hover {
    background-color: #575757;          
}


.outer-container {
    display: flex;                      
    justify-content: space-between;      
    padding: 20px;                      
    border-radius: 10px;                
    width: 80%;                         
    margin: 20px auto;                  
}


.profile-pic {
    width: 400px;                      
    height: auto;                      
    border-radius: 10px;               
    object-fit: cover;                 
    margin: 10px;
}


.text-box {
    flex: 1;                           
    padding: 20px;                     
    border-radius: 10px;               
    background-color: #fff;           
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40px;
    font-size: x-large;

}


.text-box h1 {
    text-align: center;                
    font-size: xxx-large;              
    margin: 20px;                      
}


.sidebar {
    width: 300px;   
    height: 100vh;  
    background-color: #f4f4f4;
    border-left: 2px solid #333;
    padding: 20px;               
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
    overflow-y: auto;                  
}


.ticker-container {
    padding: 10px;                     
    background-color: white;          
    border-radius: 5px;                
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    margin: 10px;
}


.ticker-canvas {
    width: 100%;                       
    margin-bottom: 10px;              
}


.content {
    margin-top: 20px;                 
    text-align: center;               
    font-size: 1.2rem;                
}


h2 {
    text-align: center;                
    margin-bottom: 15px;               
}

.contact-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px; 
}

.contact-box {
    border-radius: 5px; 
    padding: 20px; 
    margin: 0 10px; 
    text-align: center; 
    flex: 1; 
    min-width: 150px; 
}


.logo {
    width: 100px; 
    height: auto; 
    border-radius: 5px;
}


#progressBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f3f3f3;
    z-index: 200; 
}


#progressBar {
    height: 100%;
    width: 0%;
    background-color: #4caf50; 
}
